/* Razi  */

/* Margin */
.m0,
.m-n {
    margin: 0px !important;
}

.m5,
.m-xs {
    margin: 5px !important;
}

.m5.n,
.m-xs.n {
    margin: -5px !important;
}

.m10,
.m-sm {
    margin: 10px !important;
}

.m10.n,
.m-sm.n {
    margin: -10px !important;
}

.m15,
.m {
    margin: 15px !important;
}

.m15.n,
.m.n {
    margin: -15px !important;
}

.m20,
.m-md {
    margin: 20px !important;
}

.m20.n,
.m-md.n {
    margin: -20px !important;
}

.m30,
.m-lg {
    margin: 30px !important;
}

.m30.n,
.m-lg.n {
    margin: -30px !important;
}

.m40,
.m-xl {
    margin: 40px !important;
}

.m40.n,
.m-xl.n {
    margin: -40px !important;
}

.m50,
.m-xxl {
    margin: 50px !important;
}

.m50.n,
.m-xxl.n {
    margin: -50px !important;
}

.mb0,
.mb-n {
    margin-bottom: 0px !important;
}

.mb5,
.mb-xs {
    margin-bottom: 5px !important;
}

.mb5.n,
.mb-xs.n {
    margin-bottom: -5px !important;
}

.mb10,
.mb-sm {
    margin-bottom: 10px !important;
}

.mb10.n,
.mb-sm.n {
    margin-bottom: -10px !important;
}

.mb15,
.mb {
    margin-bottom: 15px !important;
}

.mb15.n,
.mb.n {
    margin-bottom: -15px !important;
}

.mb20,
.mb-md {
    margin-bottom: 20px !important;
}

.mb20.n,
.mb-md.n {
    margin-bottom: -20px !important;
}

.mb30,
.mb-lg {
    margin-bottom: 30px !important;
}

.mb30.n,
.mb-lg.n {
    margin-bottom: -30px !important;
}

.mb40,
.mb-xl {
    margin-bottom: 40px !important;
}

.mb40.n,
.mb-xl.n {
    margin-bottom: -40px !important;
}

.mb50,
.mb-xxl {
    margin-bottom: 50px !important;
}

.mb50.n,
.mb-xxl.n {
    margin-bottom: -50px !important;
}

.ml0,
.ml-n {
    margin-left: 0px !important;
}

.ml5,
.ml-xs {
    margin-left: 5px !important;
}

.ml5.n,
.ml-xs.n {
    margin-left: -5px !important;
}

.ml10,
.ml-sm {
    margin-left: 10px !important;
}

.ml10.n,
.ml-sm.n {
    margin-left: -10px !important;
}

.ml15,
.ml {
    margin-left: 15px !important;
}

.ml15.n,
.ml.n {
    margin-left: -15px !important;
}

.ml20,
.ml-md {
    margin-left: 20px !important;
}

.ml20.n,
.ml-md.n {
    margin-left: -20px !important;
}

.ml30,
.ml-lg {
    margin-left: 30px !important;
}

.ml30.n,
.ml-lg.n {
    margin-left: -30px !important;
}

.ml40,
.ml-xl {
    margin-left: 40px !important;
}

.ml40.n,
.ml-xl.n {
    margin-left: -40px !important;
}

.ml50,
.ml-xxl {
    margin-left: 50px !important;
}

.ml50.n,
.ml-xxl.n {
    margin-left: -50px !important;
}

.mr0,
.mr-n {
    margin-right: 0px !important;
}

.mr5,
.mr-xs {
    margin-right: 5px !important;
}

.mr5.n,
.mr-xs.n {
    margin-right: -5px !important;
}

.mr10,
.mr-sm {
    margin-right: 10px !important;
}

.mr10.n,
.mr-sm.n {
    margin-right: -10px !important;
}

.mr15,
.mr {
    margin-right: 15px !important;
}

.mr15.n,
.mr.n {
    margin-right: -15px !important;
}

.mr20,
.mr-md {
    margin-right: 20px !important;
}

.mr20.n,
.mr-md.n {
    margin-right: -20px !important;
}

.mr30,
.mr-lg {
    margin-right: 30px !important;
}

.mr30.n,
.mr-lg.n {
    margin-right: -30px !important;
}

.mr40,
.mr-xl {
    margin-right: 40px !important;
}

.mr40.n,
.mr-xl.n {
    margin-right: -40px !important;
}

.mr50,
.mr-xxl {
    margin-right: 50px !important;
}

.mr50.n,
.mr-xxl.n {
    margin-right: -50px !important;
}

.mt0,
.mt-n {
    margin-top: 0px !important;
}

.mt5,
.mt-xs {
    margin-top: 5px !important;
}

.mt5.n,
.mt-xs.n {
    margin-top: -5px !important;
}

.mt10,
.mt-sm {
    margin-top: 10px !important;
}

.mt10.n,
.mt-sm.n {
    margin-top: -10px !important;
}

/*.mt15,*/
/*.mt15.n,*/
/*.mt.n {*/
    /*margin-top: -15px !important;*/
/*}*/

.mt20,
.mt-md {
    margin-top: 20px !important;
}

.mt20.n,
.mt-md.n {
    margin-top: -20px !important;
}

.mt30,
.mt-lg {
    margin-top: 30px !important;
}

.mt30.n,
.mt-lg.n {
    margin-top: -30px !important;
}

.mt40,
.mt-xl {
    margin-top: 40px !important;
}

.mt40.n,
.mt-xl.n {
    margin-top: -40px !important;
}

.mt50,
.mt-xxl {
    margin-top: 50px !important;
}

.mt50.n,
.mt-xxl.n {
    margin-top: -50px !important;
}

/* Paddiing */
.p0,
.p-n {
    padding: 0px !important;
}

.p5,
.p-xs {
    padding: 5px !important;
}

.p5.n,
.p-xs.n {
    padding: -5px !important;
}

.p10,
.p-sm {
    padding: 10px !important;
}

.p10.n,
.p-sm.n {
    padding: -10px !important;
}

.p15,
.p {
    padding: 15px !important;
}

.p15.n,
.p.n {
    padding: -15px !important;
}

.p20,
.p-md {
    padding: 20px !important;
}

.p20.n,
.p-md.n {
    padding: -20px !important;
}

.p30,
.p-lg {
    padding: 30px !important;
}

.p30.n,
.p-lg.n {
    padding: -30px !important;
}

.p40,
.p-xl {
    padding: 40px !important;
}

.p40.n,
.p-xl.n {
    padding: -40px !important;
}

.p50,
.p-xxl {
    padding: 50px !important;
}

.p50.n,
.p-xxl.n {
    padding: -50px !important;
}

.pb0,
.pb-n {
    padding-bottom: 0px !important;
}

.pb5,
.pb-xs {
    padding-bottom: 5px !important;
}

.pb5.n,
.pb-xs.n {
    padding-bottom: -5px !important;
}

.pb10,
.pb-sm {
    padding-bottom: 10px !important;
}

.pb10.n,
.pb-sm.n {
    padding-bottom: -10px !important;
}

.pb15,
.pb {
    padding-bottom: 15px !important;
}

.pb15.n,
.pb.n {
    padding-bottom: -15px !important;
}

.pb20,
.pb-md {
    padding-bottom: 20px !important;
}

.pb20.n,
.pb-md.n {
    padding-bottom: -20px !important;
}

.pb30,
.pb-lg {
    padding-bottom: 30px !important;
}

.pb30.n,
.pb-lg.n {
    padding-bottom: -30px !important;
}

.pb40,
.pb-xl {
    padding-bottom: 40px !important;
}

.pb40.n,
.pb-xl.n {
    padding-bottom: -40px !important;
}

.pb50,
.pb-xxl {
    padding-bottom: 50px !important;
}

.pb50.n,
.pb-xxl.n {
    padding-bottom: -50px !important;
}

.pl0,
.pl-n {
    padding-left: 0px !important;
}

.pl5,
.pl-xs {
    padding-left: 5px !important;
}

.pl5.n,
.pl-xs.n {
    padding-left: -5px !important;
}

.pl10,
.pl-sm {
    padding-left: 10px !important;
}

.pl10.n,
.pl-sm.n {
    padding-left: -10px !important;
}

.pl15,
.pl {
    padding-left: 15px !important;
}

.pl15.n,
.pl.n {
    padding-left: -15px !important;
}

.pl20,
.pl-md {
    padding-left: 20px !important;
}

.pl20.n,
.pl-md.n {
    padding-left: -20px !important;
}

.pl30,
.pl-lg {
    padding-left: 30px !important;
}

.pl30.n,
.pl-lg.n {
    padding-left: -30px !important;
}

.pl40,
.pl-xl {
    padding-left: 40px !important;
}

.pl40.n,
.pl-xl.n {
    padding-left: -40px !important;
}

.pl50,
.pl-xxl {
    padding-left: 50px !important;
}

.pl50.n,
.pl-xxl.n {
    padding-left: -50px !important;
}

.pr0,
.pr-n {
    padding-right: 0px !important;
}

.pr5,
.pr-xs {
    padding-right: 5px !important;
}

.pr5.n,
.pr-xs.n {
    padding-right: -5px !important;
}

.pr10,
.pr-sm {
    padding-right: 10px !important;
}

.pr10.n,
.pr-sm.n {
    padding-right: -10px !important;
}

.pr15,
.pr {
    padding-right: 15px !important;
}

.pr15.n,
.pr.n {
    padding-right: -15px !important;
}

.pr20,
.pr-md {
    padding-right: 20px !important;
}

.pr20.n,
.pr-md.n {
    padding-right: -20px !important;
}

.pr30,
.pr-lg {
    padding-right: 30px !important;
}

.pr30.n,
.pr-lg.n {
    padding-right: -30px !important;
}

.pr40,
.pr-xl {
    padding-right: 40px !important;
}

.pr40.n,
.pr-xl.n {
    padding-right: -40px !important;
}

.pr50,
.pr-xxl {
    padding-right: 50px !important;
}

.pr50.n,
.pr-xxl.n {
    padding-right: -50px !important;
}

.pt0,
.pt-n {
    padding-top: 0px !important;
}

.pt5,
.pt-xs {
    padding-top: 5px !important;
}

.pt5.n,
.pt-xs.n {
    padding-top: -5px !important;
}

.pt10,
.pt-sm {
    padding-top: 10px !important;
}

.pt10.n,
.pt-sm.n {
    padding-top: -10px !important;
}

.pt15,
.pt {
    padding-top: 15px !important;
}

.pt15.n,
.pt.n {
    padding-top: -15px !important;
}

.pt20,
.pt-md {
    padding-top: 20px !important;
}

.pt20.n,
.pt-md.n {
    padding-top: -20px !important;
}

.pt30,
.pt-lg {
    padding-top: 30px !important;
}

.pt30.n,
.pt-lg.n {
    padding-top: -30px !important;
}

.pt40,
.pt-xl {
    padding-top: 40px !important;
}

.pt40.n,
.pt-xl.n {
    padding-top: -40px !important;
}

.pt50,
.pt-xxl {
    padding-top: 50px !important;
}

.pt50.n,
.pt-xxl.n {
    padding-top: -50px !important;
}

.mb-md {
    margin-bottom: 15px !important;
}


.progress-bar {
    background-color: #1ab394;
}

.progress-small,
.progress-small .progress-bar {
    height: 10px;
}

.progress-small,
.progress-mini {
    margin-top: 5px;
}

.progress-mini,
.progress-mini .progress-bar {
    height: 5px;
    margin-bottom: 0px;
}

.progress-bar-navy-light {
    background-color: #3dc7ab;
}

.progress-bar-success {
    background-color: #1c84c6;
}

.progress-bar-info {
    background-color: #23c6c8;
}

.progress-bar-warning {
    background-color: #f8ac59;
}

.progress-bar-danger {
    background-color: #ed5565;
}

.btn-flat {
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
    margin-top: 5px;
}

.ibox-content.text-box {
    padding-bottom: 0px;
    padding-top: 15px;
}

.ui-draggable .ibox-title {
    cursor: move;
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: none;
    border-width: 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,.12);

}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: none solid none;
    border-width: 1px 0px;

}

.ibox-content {
    clear: both;
}

.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}

.ibox-heading h3 {
    font-weight: 200;
    font-size: 24px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-title .label {
    float: left;
    margin-left: 4px;
}

.ibox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0;
}

.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    /*color: #c4c4c4;*/
}

.ibox-tools a.btn-primary {
    /*color: #fff;*/
}

.ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}

.skin-1 .ibox-title,
.skin-1 .ibox-content {
    border-width: 1px;
}

.skin-1 .ibox-content:last-child {
    border-style: solid solid solid solid;
}

#sys_sortable .ibox-title {
    cursor: move;
}

/* FLOT CHART  */
.flot-chart {
    display: block;
    height: 200px;
}

.widget .flot-chart.dashboard-chart {
    display: block;
    height: 120px;
    margin-top: 40px;
}

.flot-chart.dashboard-chart {
    display: block;
    height: 180px;
    margin-top: 40px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.jqstooltip {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    visibility: hidden;
    background: #2b303a;
    background-color: rgba(43, 48, 58, 0.8);
    color: white;
    text-align: left;
    white-space: nowrap;
    z-index: 10000;
    padding: 5px 5px 5px 5px;
    min-height: 22px;
    border-radius: 3px;
}

.jqsfield {
    color: white;
    text-align: left;
}

.h-200 {
    min-height: 200px;
}

.legendLabel {
    padding-left: 5px;
}

.stat-list li:first-child {
    margin-top: 0;
}

.stat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stat-percent {
    float: right;
}

.stat-list li {
    margin-top: 15px;
    position: relative;
}

/* DATATABLES */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}

/* CIRCLE */
.img-circle {
    border-radius: 50%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

/* TABLES */
.table-bordered {
    border: 1px solid #EBEBEB;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    background-color: #F5F5F6;
    border-bottom-width: 1px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #e7e7e7;
}

.table > thead > tr > th {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: bottom;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

#croppic {
    background-position: center center !important;
    background-size: 90% auto !important;
    border: 5px solid #eee !important;
    border-radius: 2px;
    height: 350px !important;
    margin: 50px 70px 20px;
    width: 350px !important;
    box-shadow: none !important;
}

#cropContainerHeaderButton {
    margin-left: 84px;
}



.sys_table > thead > tr > th, .sys_table > thead > tr > td {
    background: #FAFBFC;
    background-image: -moz-linear-gradient(center top, #FAFBFC, #E2E5E9);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9));
}

.activity-post {
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
}

.activity-post textarea {
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 10px 10px 5px;
    border: 0;
    resize: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.activity-post textarea:focus {
    border: 0 none;
    outline: none;
}

.activity-post .compose-box-footer {
    background-color: #F6F7F8;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.activity-post .compose-box-footer:after {
    content: "";
    display: table;
    clear: both;
}

.activity-post .compose-box-footer .compose-toolbar {
    list-style: none;
    margin: 0;
    padding: 0 3px;
    float: left;
}

.activity-post .compose-box-footer .compose-toolbar li {
    display: inline-block;
}

.activity-post .compose-box-footer .compose-toolbar li a {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    width: 30px;
    color: #B3B7BD;
}

.activity-post .compose-box-footer .compose-toolbar li a:hover {
    background-color: #e8eaed;
}

.action-active {
    background-color: #e8eaed;
}

.activity-post .compose-box-footer .compose-btn {
    list-style: none;
    margin: 0;
    padding: 3px;
    float: right;
}


.profile {
    width: 100%;
    float: left;
    padding: 15px 10px;
    position: relative;
    background: #2d3945
}

.profile .profile-image {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    text-align: center
}

.profile .profile-image img {
    width: 100px;
    border: 3px solid #FFF;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.profile .profile-data {
    width: 100%;
    float: left;
    text-align: center
}

.profile .profile-data .profile-data-name {
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #FFF
}

.profile .profile-data .profile-data-title {
    width: 100%;
    float: left;
    font-size: 11px;
    font-weight: 400;
    color: #999
}

.profile .profile-controls a {
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #DDD;
    border: 2px solid #DDD;
    line-height: 25px;
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.profile .profile-controls a.profile-control-left {
    left: 15px;
    top: 53px;
    text-align: center
}

.profile .profile-controls a.profile-control-right {
    right: 15px;
    top: 53px;
    text-align: center
}

.profile .profile-controls a .fa, .profile .profile-controls a .glyphicon {
    width: auto;
    margin-right: auto
}

.profile .profile-controls a:hover {
    border-color: #FFF;
    color: #FFF
}

.contact-info {
    float: left;
    width: 100%
}

.contact-info p {
    margin-bottom: 5px
}

.contact-info strong {
    font-size: 13px
}

.contact-info small {
    font-weight: 700
}

.thumb-info {
    position: relative;
}

.thumb-info .thumb-info-title {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: rgba(36, 27, 28, 0.9);
    bottom: 10%;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    left: 0;
    letter-spacing: -1px;
    padding: 9px 11px 9px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.thumb-info .thumb-info-inner {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    white-space: nowrap;
}

/* MAILBOX */
.mail-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-top: 0;
    padding: 0px;
    margin-bottom: 20px;
}

.mail-box-header {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-bottom: 0;
    padding: 30px 20px 20px 20px;
}

.mail-box-header h2 {
    margin-top: 0px;
}

.mailbox-content .tag-list li a {
    background: #ffffff;
}

.mail-body {
    border-top: 1px solid #e7eaec;
    padding: 20px;
}

.mail-text {
    border-top: 1px solid #e7eaec;
}

.mail-text .note-toolbar {
    padding: 10px 15px;
}

.mail-body .form-group {
    margin-bottom: 5px;
}

.mail-text .note-editor .note-toolbar {
    background-color: #F9F8F8;
}

.mail-attachment {
    border-top: 1px solid #e7eaec;
    padding: 20px;
    font-size: 12px;
}

.mailbox-content {
    background: none;
    border: none;
    padding: 10px;
}

.mail-ontact {
    width: 23%;
}

/* INVOICE */
.invoice-table tbody > tr > td:last-child,
.invoice-table tbody > tr > td:nth-child(4),
.invoice-table tbody > tr > td:nth-child(3) {
    text-align: right;
}

/*.invoice-table thead > tr > th:last-child,*/
/*.invoice-table thead > tr > th:nth-child(4),*/
/*.invoice-table thead > tr > th:nth-child(3),*/
/*.invoice-table thead > tr > th:nth-child(2) {*/
    /*text-align: right;*/
/*}*/

.invoice-total > tbody > tr > td:first-child {
    text-align: right;
}

.invoice-total > tbody > tr > td {
    border: 0 none;
}

.invoice-total > tbody > tr > td:last-child {
    border-bottom: 1px solid #DDDDDD;
    text-align: right;
    width: 15%;
}

/* Intimeline */
.timeline-item .date i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 30px;
    text-align: center;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    border-left: 1px solid #e7eaec;
    background: #f8f8f8;
}

.timeline-item .date {
    text-align: right;
    width: 110px;
    position: relative;
    padding-top: 30px;
}

.timeline-item .content {
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    padding-top: 10px;
    min-height: 100px;
}

.timeline-item .content:hover {
    background: #f6f6f6;
}

/* PROFILE */
.profile-content {
    border-top: none !important;
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}

.feed-element:first-child {
    margin-top: 0;
}

.feed-element {
    padding-bottom: 15px;
}

.feed-element,
.feed-element .media {
    margin-top: 15px;
}

.feed-element,
.media-body {
    overflow: hidden;
}

.feed-element > .pull-left {
    margin-right: 10px;
}

.feed-element img.img-circle,
.dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
}

.feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}

.feed-element .actions {
    margin-top: 10px;
}

.feed-element .photos {
    margin: 10px 0;
}

.feed-photo {
    max-height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.flot-placeholder {
    width: 100%;
    height: 350px;
    font-size: 14px;
    line-height: 1.2em;
}

ul.tag-list li {
    list-style: none;
}

.tag-list li {
    float: left;
}

.tag-list li a {
    font-size: 12px;
    background-color: #f3f3f4;
    padding: 5px 12px;
    color: inherit;
    border-radius: 2px;
    border: 1px solid #e7eaec;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}


/* toastr Start */

.toast-title {
    font-weight: bold;
}
.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.toast-message a,
.toast-message label {
    color: #ffffff;
}
.toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
}
.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
#toast-container {
    position: fixed;
    z-index: 999999;
    /*overrides*/

}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container > div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}
#toast-container > :hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}
#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
    width: 300px;
    margin: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin: auto;
}
.toast {
    background-color: #030303;
}
.toast-success {
    background-color: #51a351;
}
.toast-error {
    background-color: #bd362f;
}
.toast-info {
    background-color: #2f96b4;
}
.toast-warning {
    background-color: #f89406;
}
.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}
/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}


/* toastr End */

/* Timeline */

.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px
}

.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table
}

.timeline > li:after {
    clear: both
}

.timeline > li > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative
}

.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px
}

.timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1
}

.timeline > li > .timeline-item > .timeline-header > a {
    font-weight: 600
}

.timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
    padding: 10px
}

.timeline > li > .fa, .timeline > li > .glyphicon, .timeline > li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0
}

.timeline > .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px
}

.timeline-inverse > li > .timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none
}

.timeline-inverse > li > .timeline-item > .timeline-header {
    border-bottom-color: #ddd
}

/* Timeline End */

pre {
    border-radius: 0;
}

.label-green, .badge-green {
    background-color: #57a304;
    color: #FFFFFF;
}

/* iCheck plugin Square skin, blue
----------------------------------- */
.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(img/icheck/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-blue {
    background-position: 0 0;
}
.icheckbox_square-blue.hover {
    background-position: -24px 0;
}
.icheckbox_square-blue.checked {
    background-position: -48px 0;
}
.icheckbox_square-blue.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-blue.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-blue {
    background-position: -120px 0;
}
.iradio_square-blue.hover {
    background-position: -144px 0;
}
.iradio_square-blue.checked {
    background-position: -168px 0;
}
.iradio_square-blue.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-blue.checked.disabled {
    background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(img/icheck/blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

.btn-inverse {
    background-color: #2f4050 !important;
    color: #ffffff !important;
}

.red{
    color: #eb3c00;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}


.ib_theme_color {
    padding: 0 !important;
    text-align: left;
    margin: 0 !important;
    font-size: 0;

    list-style: none;

}

.ib_theme_color li {
    margin: 1px;
    padding: 0;
    cursor: pointer;
}

.ib_theme_color > li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

.ib_theme_color .dark {
    background-color: #2f4050;
    /*border: 1px solid #2196f3;*/
}

.ib_theme_color .light {
    background-color: #eceff1;
    /*border: 1px solid #2196f3;*/
}

.ib_theme_color .blue {
    background-color: #1a237e;
    /*border: 1px solid #2196f3;*/
}

.ib_theme_color li span {
    border-radius: 50%;
    display: block;
    height: 14px !important;
    width: 14px !important;
}