/*
Lightweight Custom Icons for iBilling
*/

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?92121188');
  src: url('../font/fontello.eot?92121188#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?92121188') format('woff2'),
       url('../font/fontello.woff?92121188') format('woff'),
       url('../font/fontello.ttf?92121188') format('truetype'),
       url('../font/fontello.svg?92121188#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92121188#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;

  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-database:before { content: '\e800'; } /* 'î €' */
.icon-android:before { content: '\e801'; } /* 'î ' */
.icon-paypal:before { content: '\e802'; } /* 'î ‚' */
.icon-attach:before { content: '\e803'; } /* 'î ƒ' */
.icon-cog:before { content: '\e805'; } /* 'î …' */
.icon-music:before { content: '\e806'; } /* 'î †' */
.icon-user-1:before { content: '\e807'; } /* 'î ‡' */
.icon-users:before { content: '\e808'; } /* 'î ˆ' */
.icon-user-add:before { content: '\e809'; } /* 'î ‰' */
.icon-cancel-circled:before { content: '\e80c'; } /* 'î Œ' */
.icon-tools:before { content: '\e80e'; } /* 'î Ž' */
.icon-drive:before { content: '\e80f'; } /* 'î ' */
.icon-th:before { content: '\e810'; } /* 'î ' */
.icon-brush:before { content: '\e811'; } /* 'î ‘' */
.icon-dot-3:before { content: '\e812'; } /* 'î ’' */
.icon-paper-plane:before { content: '\e813'; } /* 'î “' */
.icon-mobile:before { content: '\e814'; } /* 'î ”' */
.icon-mobile-1:before { content: '\e815'; } /* 'î •' */
.icon-chart-line:before { content: '\e816'; } /* 'î –' */
.icon-params:before { content: '\e817'; } /* 'î —' */
.icon-article:before { content: '\e818'; } /* 'î ˜' */
.icon-phone:before { content: '\e819'; } /* 'î ™' */
.icon-signal:before { content: '\e81a'; } /* 'î š' */
.icon-list-add:before { content: '\e81b'; } /* 'î ›' */
.icon-th-large-outline:before { content: '\e81c'; } /* 'î œ' */
.icon-home-outline:before { content: '\e81d'; } /* 'î ' */
.icon-megaphone:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-plus-outline:before { content: '\e820'; } /* 'î  ' */
.icon-vcard:before { content: '\e821'; } /* 'î ¡' */
.icon-mail:before { content: '\e823'; } /* 'î £' */
.icon-pencil-1:before { content: '\e824'; } /* 'î ¤' */
.icon-book-open:before { content: '\e825'; } /* 'î ¥' */
.icon-cancel-outline:before { content: '\e827'; } /* 'î §' */
.icon-upload-cloud-outline:before { content: '\e829'; } /* 'î ©' */
.icon-cloud:before { content: '\e82a'; } /* 'î ª' */
.icon-map:before { content: '\e82b'; } /* 'î «' */
.icon-trash:before { content: '\e82c'; } /* 'î ¬' */
.icon-credit-card:before { content: '\e82e'; } /* 'î ®' */
.icon-credit-card-1:before { content: '\e82f'; } /* 'î ¯' */
.icon-location:before { content: '\e830'; } /* 'î °' */
.icon-book:before { content: '\e831'; } /* 'î ±' */
.icon-spin3:before { content: '\e832'; } /* 'î ²' */
.icon-comment:before { content: '\e833'; } /* 'î ³' */
.icon-address:before { content: '\e834'; } /* 'î ´' */
.icon-install:before { content: '\e835'; } /* 'î µ' */
.icon-leaf:before { content: '\e836'; } /* 'î ¶' */
.icon-lock:before { content: '\e837'; } /* 'î ·' */
.icon-spin5:before { content: '\e838'; } /* 'î ¸' */
.icon-spin6:before { content: '\e839'; } /* 'î ¹' */
.icon-chat-alt:before { content: '\e83a'; } /* 'î º' */
.icon-popup:before { content: '\e83b'; } /* 'î »' */
.icon-chart-bar-outline:before { content: '\e83c'; } /* 'î ¼' */
.icon-sort-numeric-outline:before { content: '\e83e'; } /* 'î ¾' */
.icon-undo:before { content: '\e83f'; } /* 'î ¿' */
.icon-calendar-inv:before { content: '\e841'; } /* 'î¡' */
.icon-chart-pie:before { content: '\e844'; } /* 'î¡„' */
.icon-marquee:before { content: '\e847'; } /* 'î¡‡' */
.icon-key:before { content: '\e84d'; } /* 'î¡' */
.icon-videocam:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* 'ï€‹' */