@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Light/OpenSans-Light.eot");
  src: url("./fonts/Light/OpenSans-Light.eot") format("embedded-opentype"), url("./fonts/Light/OpenSans-Light.woff2") format("woff2"), url("./fonts/Light/OpenSans-Light.woff") format("woff"), url("./fonts/Light/OpenSans-Light.ttf") format("truetype"), url("./fonts/Light/OpenSans-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Regular/OpenSans-Regular.eot");
  src: url("./fonts/Regular/OpenSans-Regular.eot") format("embedded-opentype"), url("./fonts/Regular/OpenSans-Regular.woff2") format("woff2"), url("./fonts/Regular/OpenSans-Regular.woff") format("woff"), url("./fonts/Regular/OpenSans-Regular.ttf") format("truetype"), url("./fonts/Regular/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Semibold/OpenSans-Semibold.eot");
  src: url("./fonts/Semibold/OpenSans-Semibold.eot") format("embedded-opentype"), url("./fonts/Semibold/OpenSans-Semibold.woff2") format("woff2"), url("./fonts/Semibold/OpenSans-Semibold.woff") format("woff"), url("./fonts/Semibold/OpenSans-Semibold.ttf") format("truetype"), url("./fonts/Semibold/OpenSans-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Bold/OpenSans-Bold.eot");
  src: url("./fonts/Bold/OpenSans-Bold.eot") format("embedded-opentype"), url("./fonts/Bold/OpenSans-Bold.woff2") format("woff2"), url("./fonts/Bold/OpenSans-Bold.woff") format("woff"), url("./fonts/Bold/OpenSans-Bold.ttf") format("truetype"), url("./fonts/Bold/OpenSans-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/ExtraBold/OpenSans-ExtraBold.eot");
  src: url("./fonts/ExtraBold/OpenSans-ExtraBold.eot") format("embedded-opentype"), url("./fonts/ExtraBold/OpenSans-ExtraBold.woff2") format("woff2"), url("./fonts/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("./fonts/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"), url("./fonts/ExtraBold/OpenSans-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal; }